@charset "UTF-8";

:root {
  --teal-30: #20d5d2;
  --teal-10: #dbfbfb;
  --alert: red;
  
  --primary-back: var(--teal-30);
  --secondary-back: var(--teal-10);

  --height-factor: 3.5;
  --short: calc(100vh / var(--height-factor));
  --tall: calc(100vh - var(--short));
}

* {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  height: 100vh;

  background: -webkit-linear-gradient(180deg, var(--primary-back) var(--tall), var(--secondary-back) var(--tall));
  background: -o-linear-gradient(180deg, var(--primary-back) var(--tall), var(--secondary-back) var(--tall));
  background: -moz-linear-gradient(180deg, var(--primary-back) var(--tall), var(--secondary-back) var(--tall));
  background: linear-gradient(180deg, var(--primary-back) var(--tall), var(--secondary-back) var(--tall));
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  right: 0;
}

header > span {
  font-size: small;
}

header > span:first-of-type {
  font-size: xx-large;
}

#v-status {
  color: var(--alert);
  float: right;
}

#btn-grp {
  display: none;
  position: absolute;
  right: 12px;
  top: 12px;
  left: 12px;
  text-align: right;
}

#btn-grp > button,
.close-btn,
#help-cp-link,
#open-env-btn,
#open-env-link {
  background: none;
  border: 0px none;
  cursor: pointer;
}

#help-cp-link {
  position: absolute;
  left: 10px;
  top: 10px;
}

#open-env-link {
  color: var(--primary-back);
  text-decoration: underline;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75rem;
}
#open-env-link:hover {
  color: var(--secondary-back);
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

#btn-grp > button:hover svg,
#open-env-btn:hover svg {
  fill: var(--teal-10);
}

body.ready #btn-grp {
  display: inline-block;
}

.v-msg {
  font-size: 28px;
  position: fixed;
  top: calc(var(--tall) - 28px);
  left: 0;
  right: 0;
}

.v-msg button {
  display: none;
  vertical-align: middle;
}

.v-msg div {
  display: inline-block;
}

.v-msg,
.v-wrapper {
  text-align: center;
}

.v-wrapper {
  display: inline-block;
  height: var(--tall);
  position: relative;
}

main {
  position: fixed;
  text-align: center;
  top: calc(var(--short) / 2);
  left: 0;
  right: 0;
}

body.error main {
  display: none;
}

body.error .v-msg button {
  display: inline-block;
}

body.ready .v-msg {
  display: none;
}

video {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display: none;
}

#wave {
  background-color: transparent;
  height: var(--short);
  position: absolute;
  top: calc(100vh - var(--short) * 1.5);
  width: 100%;
  z-index: -1;
}

body.ready #wave {
  background-color: var(--teal-30);
}

.v-slider {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  color: #fff;

  overflow-x: hidden;
  left: calc(100vw - 300px);

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
#qr-panel.v-slider,
#env-panel.v-slider {
  left: 0;
}
.v-slider.closed {
	left: 100vw !important;
}

.v-slider-container {
  font-size: 0.75rem;
  margin-top: 45px;
  max-height: calc(100% - 100px);
  overflow: auto;
  padding: 0 5px 5px 10px;
  width: 280px;
}

.v-slider-container h2:not(:first-of-type) {
  margin-top: 20px;
}

.v-slider-container p {
  margin: 5px 0 10px 5px;
}

.v-slider-container a,
.v-slider-container a:link,
.v-slider-container a:visited {
  color: var(--primary-back);
}

.v-slider-container a:hover {
  color: var(--secondary-back);
}

#qr-panel .v-slider-container {
  text-align: center;
  width: initial;
}
#qr-panel img {
  margin-top: 40px;
  max-height: calc(100vh - 180px);
  max-width: calc(100vw - 20px);
}

#env-panel .v-slider-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: calc(100vw - 25px);
}
#env-panel dt {
  margin-top: 10px;
  font-weight: 600;
  border-top: #444 1px solid;
}
#env-panel dd {
  text-align: right;
}
#env-list {
  margin-bottom: 30px;
  margin-top: 30px;
}
#env-list .error {
  color: lightpink;
  text-align: left !important;
}

footer {
  background-color: white;
  font-size: x-small;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  right: 0;
}

@media only screen and (max-height: 500px) {
  header {
    padding: 5px;
  }

  header > span {
    font-size: xx-small;
  }
  
  header > span:first-of-type {
    font-size: large;
  }

  .v-slider {
    left: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** dat.gui override **/

.dg {
  font-family: 'IBM Plex Sans', sans-serif;
}

.dg.main {
  margin-top: 45px;
}

.dg.main .close-button {
  display: none;
}

.dg .cr.string,
.dg .cr.number,
.dg .cr.boolean {
  border-left: 2px solid var(--secondary-back) !important;
}

.dg .folder .cr.string,
.dg .folder .cr.number,
.dg .folder .cr.boolean {
  border-left: 1px solid var(--secondary-back) !important;
}

.dg .c .slider-fg {
  background: var(--primary-back) !important;
}

.dg .cr.number input[type=text],
.dg .cr.string input[type="text"],
.dg .cr.string input[type="password"] {
  color: var(--primary-back) !important;

  background: #303030;
  outline: none;

  border: 0;
  margin-top: 4px;
  padding: 3px;
  width: 100%;
  float: right;
}

.toggle-btn {
  display: inline-block;
}
.toggle-btn:hover {
  color: var(--secondary-back);
}
.toggle-btn-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  visibility: visible;
  white-space: nowrap;
}
.toggle-btn-label {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.toggle-btn-ui {
  position: relative;
  width: 24px;
  height: 24px;
}
.toggle-btn-ui::before {
  position: absolute;
  display: block;
  content: '';
  border: 1.5px solid var(--alert);
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 24px;
  width: 16px;
  border-radius: 0.9375rem;
  left: 4px;
  will-change: box-shadow;
  -webkit-box-shadow: 0 0 0 2px transparent;
  box-shadow: 0 0 0 2px transparent;
  -webkit-transition: background-color 70ms cubic-bezier(0.2, 0, 1, 0.9), -webkit-box-shadow 70ms cubic-bezier(0.2, 0, 1, 0.9);
  transition: background-color 70ms cubic-bezier(0.2, 0, 1, 0.9), -webkit-box-shadow 70ms cubic-bezier(0.2, 0, 1, 0.9);
  transition: box-shadow 70ms cubic-bezier(0.2, 0, 1, 0.9), background-color 70ms cubic-bezier(0.2, 0, 1, 0.9);
  transition: box-shadow 70ms cubic-bezier(0.2, 0, 1, 0.9), background-color 70ms cubic-bezier(0.2, 0, 1, 0.9), -webkit-box-shadow 70ms cubic-bezier(0.2, 0, 1, 0.9);
}
.toggle-btn-ui::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  display: block;
  cursor: pointer;
  left: 7px;
  top: 10px;
  width: 10px;
  height: 10px;
  border: 1.5px solid var(--alert);
  border-radius: 50%;
  content: '';
  -webkit-transition: -webkit-transform 70ms cubic-bezier(0.2, 0, 1, 0.9);
  transition: -webkit-transform 70ms cubic-bezier(0.2, 0, 1, 0.9);
  transition: transform 70ms cubic-bezier(0.2, 0, 1, 0.9);
  transition: transform 70ms cubic-bezier(0.2, 0, 1, 0.9), -webkit-transform 70ms cubic-bezier(0.2, 0, 1, 0.9);
}
.toggle-btn-input + .toggle-btn-label .toggle-btn-ui::before {
  -webkit-box-shadow: 0 0 0 2px transparent;
  box-shadow: 0 0 0 2px transparent;
}
.toggle-btn-input:checked + .toggle-btn-label .toggle-btn-ui::before {
  border-color: currentColor;
}
.toggle-btn-input:checked + .toggle-btn-label .toggle-btn-ui::after {
  background-color: currentColor;
  border-color: currentColor;
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}
